/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */


/*ZAKLAD AKA MOBILNI VIEW*/

body p {
    color:rgb(255, 255, 255); /*bile pismo everywhere*/
    font-weight: 400; /*font fam Source Sans Pro uz je sorted nahore*/
}

.vsecko {
    display: flex;
    flex-direction: column; /*at je to vse ve sloupci*/
}

.main {
    background-image: url("images/burger.jpg");
    background-size: cover; /*background obrazek vyplni krasne ten vyhrazeny space*/
    max-width: 360px; /*sirka mobilu*/
    min-height: 200px; /*minimalni vyska dle zadani*/
    padding: 0.5rem; /*to bude hezky vsude*/
}

.main .nadpis {
    font-size: 1.75rem;
    font-weight: 800;
    position: absolute;
    top: 7.5rem;
}

    .jidlo .nadpis {
        position: relative;
        top: 4rem;
    }

.kategorie{
    font-size: 0.8rem;
    font-weight: 400;
    position: relative;
    top: 1rem;
}
.komentare {
    font-size: 0.8rem;
    font-weight: 400;
}

/*kategorie a komentare burgery*/
    .burgercategory {
        position: absolute;
        top: 0.5rem;
    }

    .burgerkomenty {
        position: absolute;
        top: 0.5rem;
        left: 16.6rem; /*MNE SE TO NEDARI NAK ELEGANTNE ZAROVNAT*/
    }
/*kategorie a komentare sushi*/
    .sushicategory {
        position: relative;
        top: -3.5rem;
        }
    .sushikomenty {
        position: relative;
        top: -5.3rem;
        left: 16.6rem;
        }
/*kategorie a komentare omacka*/
    .omackacategory {
        position: relative;
        top: -3.5rem;
        }
    .omackakomenty {
        position: relative;
        top: -5.3rem;
        left: 16.6rem;
        }
/*kategorie a komentare kure*/
.kurecategory {
    position: relative;
    top: -3.5rem;
    }
.kurekomenty {
    position: relative;
    top: -5.3rem;
    left: 16.6rem;
    }

/*kategorie a komentare grilovacka*/
.grilovackacategory {
    position: relative;
    top: -3.5rem;
    }
.grilovackakomenty {
    position: relative;
    top: -5.3rem;
    left: 16.6rem;
    }

.jidlo {
    background-size: cover;
    max-width: 360px; /*sirka mobilu*/
    min-height: 90px; /*minimalni vyska dle zadani*/
    padding: 0.5rem;
}

.jidlo .nadpis {
    font-weight: 800;
    font-size: 1.2rem;
}

.recept2 {
    background-image: url("images/sushi.jpg");
}

.recept3 {
    background-image: url("images/rajcata.jpg");
    }

.recept4 {
    background-image: url("images/kure.jpg");
    }

.recept5 {
    background-image: url("images/grilovani.jpg");
    }



/*TABLETOVE VIEW*/